<% provide :title, t("text.cart") %>
<section class="h-100 h-custom mt-5">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2">
          <%= render "cart/cart" %>
        </div>
      </div>
    </div>
  </div>
</section>
