<svg class="icon icon-lg my-1 mx-2">
  <use xlink:href="<%= image_path('vendors/@coreui/icons/svg/free.svg#cil-bell') %>"></use>
</svg>
<span class="badge rounded-pill position-absolute top-0 end-0 bg-danger"><%= counter %></span>
