<header class="banner py-5 mt-5">
  <div class="text-center text-black">
    <h1 class="display-4 fw-bolder"><%= t "text.banner_title" %></h1>
    <p class="lead fw-normal mb-0"><%= t "text.banner_text" %></p>
  </div>
</header>
<section class="py-5">
  <% @categories.each do |category| %>
    <h1 class="fw-bolder text-center"><%= category.name %></h1>
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
        <% category.products.each do |product| %>
          <%= render partial: "products/product", locals: { product: product, category: category} %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
