<% if @user_info.present? %>
  <b><%= @user_info.name %>, <%= @user_info.phoneNum %> <span class="fw-normal p-3"><%= @user_info.address %></span></b>
<% end %>
<%= link_to t("text.edit"), select_info_orders_path, data:{ turbo_frame: "select-modal"}, class:"text-decoration-none" %>
