$star-color: #ffcc00;
$gray-color: #bbb;
$bg-white: #FFFFFF;
$border-white: #f1f1f1;
$border-white-2: #f8f8f8;
$border-black: rgba(0, 0, 0, 0.1);
$color_1: #000000;
$font-family_1: 'bootstrap-icons';
$border-color_1: #d6d6d6;
