<% provide :title, t("text.search_result") %>
<section class="py-5 mt-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h2><%= t("text.search_result") %></h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4" id="product_view">
          <% if @products.any? %>
            <%= render @products %>
          <% else %>
            <span><%= t("text.no_product") %><span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
