<h3><%= t "user_mailer.hi", user: @resource.name %></h3>

<p><%= t "user_mailer.password_reset.content.description"%> </p>

<p><%= link_to t("user_mailer.password_reset.content.change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>
